@{
    ViewBag.Title = "O aplikaciji";
}
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2 id="title">@ViewBag.Title</h2>
        </div>
        <div class="card-body">
            <h3>@ViewBag.Message</h3>
            <p>
                Dobrodošli u našu aplikaciju za izračun troškova automobila! Ovaj alat je dizajniran kako bi vam pomogao procijeniti razne
                troškove povezane s posjedovanjem i korištenjem vozila. Od potrošnje goriva do troškova osiguranja i održavanja, pružamo
                sveobuhvatan pregled kako bismo osigurali da imate jasnu sliku o vašim troškovima automobila.
            </p>

            <p>
                Naša misija je pružiti vam točne i jednostavne informacije kako biste mogli donositi informirane odluke o svom vozilu.
                Bilo da planirate dugo putovanje ili samo želite znati godišnje troškove održavanja, naša aplikacija je tu da vam pomogne.
            </p>

            <p>
                Hvala vam što koristite našu aplikaciju za izračun troškova automobila. Nadamo se da ćete je smatrati korisnom i informativnom.
                Ako imate bilo kakva pitanja ili povratne informacije, slobodno nas kontaktirajte.
            </p>
        </div>
    </div>
</div>
