@{
    ViewBag.Title = "Kontakt";
}
<div class="container mt-5">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h2 id="title">@ViewBag.Title</h2>
        </div>
        <div class="card-body">
            <h3>@ViewBag.Message</h3>
            <address>
                August Šenoa, 8, Šenkovec<br />
                40 000, Čakovec<br />
                <abbr title="Phone">Telefon:</abbr> +385/ 95 872 88 99
            </address>
            <address>
                <strong>Support:</strong>
                <a href="mailto:nikola.nova67@gmail.com?subject=Kontakt%20Podrška&body=Poštovani%20Nikola,">Nikola Novak - Direktor</a>
            </address>
        </div>
    </div>
</div>
