
@{
    // ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Paup Vjezbe 3 </h2>

Aplikacija o automobilima
<br/>
Fakultet:@ViewBag.Marka
<br/>

Popis automobila @Html.ActionLink("link", "Popis")